<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="5">
  <test  name="Test">
    <classes>
      <class name="com.Amazon.Testcases.YourOrderTest"/>
      <class name="com.Amazon.Testcases.YourAddressPageTest"/>
      <class name="com.Amazon.Testcases.SignInTest"/>
      <class name="com.Amazon.Testcases.FrontPageTest"/>
      <class name="com.Amazon.Testcases.CartTest"/>
      <class name="com.Amazon.Testcases.CreateAccountPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
